.component-container {
	float: left;
	width: 50%;
}

.pattern-header {
	display: block;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 2rem;
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	background: whitesmoke;
}

pre {
	font-size: 13px;
    padding: 26px 0 6px;
    background: #f3f3ff;
    color: #2b2e54;
    position: relative;
    margin: 0;
    float: right;
    border-radius: 0;
    width: 50%;
    border: none;
    box-shadow: inset 1px 0px 12px rgba(0,0,0,0.2);
    padding: 4px 8px;
    padding-top: 25px;
}

pre:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: "HTML";
	font-size: 16px;
	padding: 0 14px;
	border-radius: 0 0 8px 0;
	background: aquamarine;
	height: 24px;
}