<!doctype html>
<html>
	{% include "../_shared/head.html" %}
	<body>
		{% block content %}{% endblock %}
		<script src="js/vendor/modernizr-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.5.2/blazy.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.3.3/lory.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
		<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
		<script src="js/app.js"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
