<!-- Extent this master layout -->
{% extends '_layouts/main-application.html' %}
{% set page = {title:"Pattern Library"} %}

{% block content %}
<link rel="stylesheet" href="style/patternlib.css">


{{{patternLib}}}

{% endblock %}

<!-- Add ALL JavaScript to this page type -->
{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG_FBbddcIk-Ku9FFR6gJ5JdgK88HNkTE&callback=initMap" async defer></script>
<script src="js/vendor/validate.min.js"></script>
<script src="js/vendor/baguetteBox.min.js"></script>
<script src="js/vendor/lory.min.js"></script>
<script src="js/vendor/patternlib.js"></script>
{% endblock %}
