body,
html {
	font-size: 10px;
}

body {
	font-size: 1.8rem;
}

button {
	padding: 0;
	border: none;

	&:active,
	&:focus {
		outline: unset;
	}
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}
}

a,
button {
	transition: $transition--all-5;

	&:hover {
		transition: $transition--hover;
	}
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav > ul > li > a {
	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		border: {
			bottom-width: 1px;
			bottom-style: solid;
		}
		transition: {
			property: width;
			timing-function: ease-out;
			delay: 0s;
			duration: inherit;
		}
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}
/*JavaScript Created Element Styles*/
.screen__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: $transition--opacity;

	&.screen__overlay--soft {
		background: rgba(0, 0, 0, 0.33);
	}

	&.screen__overlay--hard {
		z-index: 2;
		background: rgba(0, 0, 0, 0.80);
	}
}
/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/
@include break(max, $screen-sm-max) {}
/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝

*/
@include break(min, $screen-md-min) {}


.b-lazy {
						transition: $transition--opacity;
						 max-width: 100%;
							 opacity: 0;
}
.b-lazy.b-loaded {
							 opacity: 1;
}
